.project-container-style {
	position: relative;
	width: 290px;
	max-height: 290px;
	margin: 20px auto;
	border-radius: 25px;
	border: 2px gray solid;
	background-color: gainsboro;
}

.project-container-style:hover .overlay {
  opacity: 0.93;
}

.project-technologies {
	padding: 5px 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease-in-out;
  background-color: #008CBA;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
